<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paladin.seriesjunkie">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="24"
        />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".SJApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <meta-data android:name="DATABASE" android:value="series.db" />
        <meta-data android:name="VERSION" android:value="4" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example.paladin.seriesjunkie.model" />


        <activity
            android:name=".Activities.MainActivity"
            android:label="Series"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SerieDetailsActivity"
            android:label="Series Details" />
        <activity android:name=".Activities.NewSeriesActivity"
            android:label="New Series" />
        <activity android:name=".Activities.NewEpisodeActivity"
            android:label="New Episode"/>
        <activity android:name=".Activities.EpisodeDetailsActivity"
            android:label="Episode Details"
            ></activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c2026671aa588014c9bc35b5f797d9e1296b1f7f" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>